<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Platform Game</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="./styles/main.css">
	</head>
	<body>
	<div class="wrapper">
		<div class="game-background">
			<div class="background-layer background-layer-1"></div>
			<div class="background-layer background-layer-2"></div>
			<div class="background-layer background-layer-3"></div>
		</div>
		<div class="game-level">
			<div class="game-level-objects"></div>
		</div>
		<div class="game-platform"></div>
	</div>
	<script src="./js/main.js" defer></script>
	</body>
</html>