<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Platform Game</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <h1>Tasks for personal implementation</h1>
        </div>
    </header>
    <main class="main">
        <section class="section">
            <div class="container">
                <h2>Task 1</h2>
                <div class="row">
                    <div class="col">
                        <div class="task-description">
                            <div class="description-text">
                                <p>Написать программу, которая введет 6 значений и посчитает сумму чисел, больших 4 и
                                    меньших или равных 7.</p>
                            </div>
                            <button type="button" class="btn btn_task_1">Выполнить</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="task-output task-output_1">
                        </div>
                    </div>
                </div>
                <h2>Task 2</h2>
                <div class="row">
                    <div class="col">
                        <div class="task-description">
                            <div class="description-text">
                                <p>Дано натуральное число n. Вычислить 1<sup>1</sup>- 2<sup>2</sup>+3<sup>3</sup> -...
                                    ±n<sup>n</sup>.</p>
                            </div>
                            <button type="button" class="btn btn_task_2">Выполнить</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="task-output task-output_2">
                        </div>
                    </div>
                </div>
                <h2>Task 3</h2>
                <div class="row">
                    <div class="col">
                        <div class="task-description">
                            <div class="description-text">
                                <p>Дано натуральное число n. Определить количество цифр в нем.</p>
                            </div>
                            <button type="button" class="btn btn_task_3">Выполнить</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="task-output task-output_3">
                        </div>
                    </div>
                </div>
                <h2>Task 4</h2>
                <div class="row">
                    <div class="col">
                        <div class="task-description">
                            <div class="description-text">
                                <p>В массиве вещественных чисел все элементы, кроме первого, разделить на значение первого элемента.</p>
                            </div>
                            <button type="button" class="btn btn_task_4">Выполнить</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="task-output task-output_4">
                        </div>
                    </div>
                </div>
                <h2>Task 5</h2>
                <div class="row">
                    <div class="col">
                        <div class="task-description">
                            <div class="description-text">
                                <p>Дан двумерный квадратный  массив. В строках с отрицательным элементом на главной диагонали найти сумму всех элементов, наибольший из всех элементов.</p>
                            </div>
                            <button type="button" class="btn btn_task_5">Выполнить</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="task-output task-output_5">
                        </div>
                    </div>
                </div>
                <h2>Task 6</h2>
                <div class="row">
                    <div class="col">
                        <div class="task-description">
                            <div class="description-text">
                                <p>Написать метод, входным параметром которого является строка. Метод должен возвращать количество букв в последнем слове в данной строке (слова – группы символов, разделенные пробелами, или пробелом и началом (концом) строки).</p>
                            </div>
                            <button type="button" class="btn btn_task_6">Выполнить</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="task-output task-output_6">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <a class="git-link" href="https://github.com/Neronio17/Training-tasks">Check source on Git</a>
        </div>
    </footer>
</div>
<script src="./js/main.js" defer></script>
</body>
</html>